@model Sample.Models.Fruit 
@{
    ViewBag.Title = "UpdateItem";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<body style="background-color:peachpuff">
      <div>

    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
    {
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>Fruits</th>
                    <th>FirstLevel Rs/kg</th>
                    <th>SecondLevel Rs/Kg</th>
                    <th>ThirdLevel Rs/Kg</th>
               </tr>
                
            </thead>
            <tbody>
                <tr>
                    @Html.HiddenFor(m => m.Id)
                    <td style="padding-left:20px">@Html.EditorFor(m => m.Name)</td>
                    <td style="padding-left:20px">@Html.EditorFor(m => m.lev1)</td>
                    <td style="padding-left:20px">@Html.EditorFor(m => m.lev2)</td>
                    <td style="padding-left:20px">@Html.EditorFor(m => m.lev3)</td>                    
                </tr>
            </tbody>
            
            <thead>
            <tr>
                <th>Description</th>
                <th>Type</th>
                <th>Date </th>
                <th>Image </th>

            </tr>
            </thead>
            
            
            <tbody>
                 <tr>
                     @Html.HiddenFor(m => m.Id)
                    <td style="padding-left:20px">@Html.EditorFor(m => m.Description)</td>
                     <td style="padding-left:20px">@Html.EditorFor(m => m.Type)</td>
                    <td style="padding-left:20px">@Html.EditorFor(m => m.Date)</td>
                     <td style="padding-left:20px"> @Html.EditorFor(m => m.Image)  </td>

                </tr>
            </tbody>
        </table>
        
        <input  class="btn-success btn-lg col-lg-3" type="submit" value="Save" />
    }
</div>   
    </body>               