<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link href="~/Content/bootstrap/css/business-casual.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/font/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/isotope.css" media="screen" />
    <link rel="stylesheet" href="~/Content/bootstrap/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/da-slider.css" />
    <script src="~/Content/bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/bootstrap/js/npm.js"></script>
    <script type="text/javascript" src="~/Content/jQuery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
   
    <!-- Owl Carousel Assets -->
    <link href="~/Content/bootstrap/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css" />
    <!-- Font Awesome -->
    <link href="~/Content/bootstrap/font/css/font-awesome.min.css" rel="stylesheet">
   
    
    

</head>
<body style="background-color:peachpuff">

    <script src="~/Content/bootstrap/js/modernizr-latest.js"></script>
    <script src="~/Content/bootstrap/js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap/js/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap/js/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap/js/jquery.nav.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap/js/jquery.cslider.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap/js/custom.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap/js/owl-carousel/owl.carousel.js"></script>
   <!-- <h1 class=" text-primary" style="font-family:'Comic Sans MS';font-size:40px;padding-left:300px;padding-bottom:50px;padding-top:10px"> Fruits and Vegetables Rates  </h1> -->
    <header class="header">
        <nav class="navbar navbar-inverse " role="navigation" >
            <div class=" container-fluid">
                
                <ul class="nav navbar-nav" style="padding-right:50px">
                    <li class=" text-success" style="font-family: 'Comic Sans MS'; font-size: 20px; padding-top:30px"> Fruits and Vegetables Rates  </li> 
                  <!--  <li>@Html.ActionLink("Home", "Index", "Home")</li> -->

                    <li>@Html.ActionLink("About", "About", "Home")</li>                   
                    <li>@Html.ActionLink("Contact", "Contacts", "Home")</li>
                    <li> <a href="~/Home/Login"> Login <span class="glyphicon glyphicon-log-in"></span></a> </li>
                    <li> <a href="~/Home/SignUp"> Sign Up <span class="glyphicon glyphicon-user"></span></a> </li>
                  </ul>
            </div>
        </nav>
        </header>


        <table>
            <tr>
                <td> <img style="padding-left:50px" src="~/Images/illchi.jpg" width="300" height="250"> </td>
                <td> <img src="~/Images/collage.jpg" width="700" height="250"> </td>
                <td> <img src="~/Images/strawberry.jpg" width="300" height="250"> </td>

            </tr>
        </table>

    
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    
</body>
</html>
